.cabin {
  background-repeat: no-repeat;
  background-position: center;

  &.grass {
    background-color: #5da88a;
    background-image: url("assets/images/cabin.svg"), url("assets/images/grass.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  &.water {
    background-color: #3b7693;
    background-image: url("assets/images/cabin.svg"), url("assets/images/water.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  &.dirt {
    background-color: #9b6a49;
    background-image: url("assets/images/cabin.svg"), url("assets/images/dirt.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  &.sand {
    background-color: #f9ee67;
    background-image: url("assets/images/cabin.svg"), url("assets/images/sand.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}

.camp-fire {
  background-repeat: no-repeat;
  background-position: center;

  &.grass {
    background-color: #5da88a;
    background-image: url("assets/images/camp-fire.svg"), url("assets/images/grass.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  &.water {
    background-color: #3b7693;
    background-image: url("assets/images/camp-fire.svg"), url("assets/images/water.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  &.dirt {
    background-color: #9b6a49;
    background-image: url("assets/images/camp-fire.svg"), url("assets/images/dirt.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  &.sand {
    background-color: #f9ee67;
    background-image: url("assets/images/camp-fire.svg"), url("assets/images/sand.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}

.tent {
  background-repeat: no-repeat;
  background-position: center;

  &.grass {
    background-color: #5da88a;
    background-image: url("assets/images/tent.svg"), url("assets/images/grass.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  &.water {
    background-color: #3b7693;
    background-image: url("assets/images/tent.svg"), url("assets/images/water.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  &.dirt {
    background-color: #9b6a49;
    background-image: url("assets/images/tent.svg"), url("assets/images/dirt.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  &.sand {
    background-color: #f9ee67;
    background-image: url("assets/images/tent.svg"), url("assets/images/sand.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}

.pier {
  background-repeat: no-repeat;
  background-position: center;

  &.grass {
    background-color: #5da88a;
    background-image: url("assets/images/pier.svg"), url("assets/images/grass.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  &.water {
    background-color: #3b7693;
    background-image: url("assets/images/pier.svg"), url("assets/images/water.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  &.dirt {
    background-color: #9b6a49;
    background-image: url("assets/images/pier.svg"), url("assets/images/dirt.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  &.sand {
    background-color: #f9ee67;
    background-image: url("assets/images/pier.svg"), url("assets/images/sand.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}