.inventory {
  background-color: #333333 !important;
  background-image: none!important;

  &.health-potion {
    background-image: url("assets/images/health-potion.svg")!important;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #333333 !important;
  }

  &.mana-potion {
    background-image: url("assets/images/mana-potion.svg")!important;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #333333 !important;
  }

  &.gloves {
    background-image: url("assets/images/gloves.svg")!important;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #333333 !important;
  }

  &.meat {
    background-image: url("assets/images/meat.svg")!important;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #333333 !important;
  }
}

