body {

  & > main {
    height:100vh;
    width:100vw;
    background-color: #efefef;
    display:grid;

    @media(orientation: landscape)
    {
      grid-template-columns: repeat(20, 1fr);
      grid-template-rows: repeat(10, 1fr);
    }

    section {
      border : dashed 1px #777777;
    }

  }
}